@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: whitesmoke;
}

/* Мобильная вестка */
@media only screen and (min-device-width: 340px) and (max-device-width: 750px) {
	.header {
		font-size: 8px;
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: whitesmoke;
		padding: 20px 20px 10px 20px;
	}
	.main-photo img {
		padding: 0;
		padding-top: 10px;
	}

	.display-none {
		display: none;
	}
	.main-photo h4 {
		text-align: center;
		padding-bottom: 10px;
	}
	.main-info {
		padding: 0;
		padding-left: 13px;
		padding-right: 13px;
		justify-content: center;
	}
	.main-info p {
		margin: 2px 4px;
		font-family: 'Montserrat', sans-serif;
		word-break: break-all;
		font-size: 19px;
	}
	.footer {
		padding: 15px;
		text-align: center;
		font-size: 17px;
		letter-spacing: 0.5px;
		font-family: 'Oswald', sans-serif;
	}
}

@media only screen and (min-device-width: 751px) and (max-device-width: 1024px) {
	.header {
		font-size: 18px;
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: whitesmoke;
		padding: 20px 20px 10px 20px;
	}
	.main-photo {
		background-color: black;
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.main-photo img {
		max-width: 160px;
		max-height: 200px;
	}
	.main-photo h4 {
		padding-bottom: 10px;
	}
	.main-info {
		padding: 0;
		padding-left: 23px;
		padding-right: 23px;
		justify-content: center;
	}
	.main-info p {
		padding: 0px 15px;
		font-family: 'Montserrat', sans-serif;
		word-break: break-all;
		font-size: 19px;
	}
	.footer {
		padding: 15px;
		text-align: center;
		font-size: 17px;
		letter-spacing: 0.5px;
		font-family: 'Oswald', sans-serif;
	}
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 2048px) {
	.header {
		font-size: 18px;
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: black;
		color: whitesmoke;
		padding: 20px 20px 10px 20px;
	}

	.header img {
		padding-right: 15px;
	}

	.main-photo {
		background-color: black;
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.main-photo img {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.hover img {
		transition: all 0.5s ease;
	}

	.hover img:hover {
		transform: scale(1.1);
	}

	.main-photo h4 {
		font-size: 13px;
		font-family: 'Montserrat', sans-serif;
		font-style: italic;
	}

	.main-info {
		padding: 10px 130px;
	}

	.main-info p {
		font-family: 'Montserrat', sans-serif;
		word-break: break-all;
		font-size: 24px;
	}

	.footer {
		padding: 15px;
		text-align: center;
		font-size: 17px;
		letter-spacing: 0.5px;
		font-family: 'Oswald', sans-serif;
	}
}
